    /* main styles*/
    
    body {
        background-color: hsl(217, 54%, 11%);
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
    }
    
    .div {
        background-color: hsl(216, 50%, 16%);
        width: 350px;
        border-radius: 4%;
        margin: auto;
        margin-top: 80px;
        padding: 20px 20px 20px 20px;
    }
    
    .card {
        position: relative;
        width: 350px;
        border-radius: 2%;
        z-index: 1;
    }
    
    .div-view {
        width: 350px;
        height: 350px;
        border-radius: 2%;
        position: absolute;
        z-index: 10;
        opacity: 0;
        transition: all 1s;
    }
    
    h4 {
        color: hsl(0, 0%, 100%);
        font-weight: 600;
        margin: 18px 0 18px 0;
    }
    
    p {
        color: hsl(215, 51%, 70%);
        font-weight: 300;
        text-align: left;
        margin: 15px 0 15px 0;
    }
    
    .p {
        padding: 10px;
    }
    
    .avatar {
        position: relative;
        right: 58px;
        width: 30px;
        border: 2px solid white;
        border-radius: 100%;
        margin: auto;
    }
    
    hr {
        border-color: hsl(215, 32%, 27%);
        margin: 0px 0px 0px 0px;
    }
    
    .creator {
        height: 34px;
        position: relative;
        top: 10px;
        color: hsl(215, 51%, 70%);
        font-weight: 300;
        text-align: center;
    }
    
    .creator-span {
        display: inline-block;
        position: relative;
        right: 45px;
        bottom: 12px;
        font-size: 18px;
    }
    
    .creator-img {
        color: hsl(0, 0%, 100%);
    }
    
    .eth {
        color: hsl(178, 100%, 50%);
    }
    
    .eth-svg {
        position: relative;
        top: 2.5px;
    }
    
    .days-left {
        color: hsl(215, 51%, 70%);
        margin-left: 147px;
    }
    
    .days-left-svg {
        position: relative;
        top: 3px;
    }
    
    .attribution {
        margin-top: 10px;
    }
    
    .view {
        position: absolute;
        top: 43.15%;
        right: 43.15%;
    }
    /* active styles*/
    
    h4:hover {
        color: hsl(178, 100%, 50%);
        cursor: pointer;
    }
    
    .creator-img:hover {
        color: hsl(178, 100%, 50%);
        cursor: pointer;
    }
    
    .div-view:hover {
        background-color: hsl(178, 100%, 50%);
        opacity: 50%;
        cursor: pointer;
    }